@charset 'UTF-8';

*{
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
}

body{
    margin: 1px 1px 1px 1px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
}

header{
    margin: 10px;
    padding: 10px;
    background-image: url(Imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: 2000px 370px;  
    
}


header h1{
    text-align: center;
    font-weight: bold;
    font-size: max(25px, 2.5vw);
    color: red;
    background-color: transparent;
}

.menu{
    padding-top: 40px;
    text-align: center;
    margin: 10px;
    background-color: transparent;
}


.menu a{
    border: 1px solid white;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: max(10px, 1.1vw);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.menu a:hover{
    transition: 0.5s;
    border: 5px solid rgba(97, 97, 97, 0.938);
    background-color: rgb(0, 0, 0);
    color: white;
        
}

.video1{
    background-color: rgba(0, 128, 0, 0);
    margin: 20px;
}

.video1 video{
    width: 99.8%;
    height: auto;
    border: 2px solid red;
    

}


.intro{
    text-align: justify;
    max-height: 400px;
    margin: 10px 50px 10px 50px;
    font-size: 1.6vmax;
}

.intro h1{
    text-align: center;
    
}

.placa-mae{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
    margin-bottom: 200px;
    margin-top: 200px;
    max-width:2000px;
    max-height: 500px ;

}

.placa-mae  p{
    max-width: 500px;
    max-height: 500px;
    padding: 0px 10px 0px 0px;
    text-align: justify;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: max(1.3vw, 1.3vh);
    line-height: 1.3em;
    text-indent: 2em;
}


.placa-mae  img{
    max-width: 500px;
    max-height: 500px;
    min-width: 200px;
    min-height: 200px;
    padding: 0px 0px 0px 10px;
    
    
}


.placa-mae img:hover{
    max-width: 550px;
    max-width: 550px;
    min-height: 210px;
    min-width: 210px;
    transition: 0.5s;
       
}


.cpu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
    margin-bottom: 200px;
    margin-top: 200px;
    max-width:2000px;
    max-height: 500px ;
    
}

.cpu p{
    max-width: 500px;
    max-height: 500px;
    padding: 0px 0px 0px 10px;
    text-align: justify;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: max(1.3vw, 1.3vh);
    line-height: 1.3em;
    text-indent: 2em;
}



.cpu img{
    max-width: 500px;
    max-height: 500px;
    min-width: 200px;
    min-height: 200px;
    padding: 0px 10px 0px 0px;
}


.cpu img:hover{
    max-width: 550px;
    max-width: 550px;
    min-height: 210px;
    min-width: 210px;
    transition: 0.5s; 
}



.ram{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
    margin-bottom: 200px;
    margin-top: 200px;
    max-width:2000px;
    max-height: 500px ;
    
}

.ram p{
    max-width: 500px;
    max-height: 500px;
    padding: 0px 10px 0px 0px;
    text-align: justify;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: max(1.3vw, 1.3vh);
    line-height: 1.3em;
    text-indent: 2em;
}


.ram img{
    max-width: 500px;
    max-width: 500px;
    min-width: 200px;
    min-height: 200px;
    padding: 0px 0px 0px 10px;
    background: transparent;
}


.ram img:hover{
    max-width: 550px;
    max-width: 550px;
    min-height: 210px;
    min-width: 210px;
    transition: 0.5s; 

}


.ssd{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
    margin-bottom: 200px;
    margin-top: 200px;
    max-width:2000px;
    max-height: 500px ;
    
}

.ssd p{
    max-width: 500px;
    max-height: 500px;
    padding: 0px 0px 0px 10px;
    text-align: justify;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: max(1.3vw, 1.3vh);
    line-height: 1.3em;
    text-indent: 2em;
}


.ssd img{
    max-width: 500px;
    max-height: 500px;
    min-width: 200px;
    min-height: 200px;
    padding: 0px 10px 0px 0px;
}


.ssd img:hover{
    max-width: 550px;
    max-width: 550px;
    min-height: 210px;
    min-width: 210px;
    transition: 0.5s; 
}



.fonte{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
    margin-bottom: 200px;
    margin-top: 200px;
    max-width:2000px;
    max-height: 500px ;
    
}

.fonte p{
    max-width: 500px;
    max-height: 500px;
    padding: 0px 10px 0px 0px;
    text-align: justify;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: max(1.3vw, 1.3vh);
    line-height: 1.3em;
    text-indent: 2em;
}


.fonte img{
    max-width: 500px;
    max-height: 500px;
    min-width: 200px;
    min-height: 200px;
    padding: 0px 0px 0px 10px;
}


.fonte img:hover{
    max-width: 550px;
    max-width: 550px;
    min-height: 210px;
    min-width: 210px;
    transition: 0.5s;  

}


.placa-video{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
    margin-bottom: 200px;
    margin-top: 200px;
    max-width:2000px;
    max-height: 500px;
    
}

.placa-video p{
    max-width: 500px;
    max-height: 500px;
    padding: 0px 0px 0px 10px;
    text-align: justify;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: max(1.3vw, 1.3vh);
    line-height: 1.3em;
    text-indent: 2em;
}


.placa-video img{
    max-width: 500px;
    max-height: 500px;
    min-width: 200px;
    min-height: 200px;
    padding: 0px 10px 0px 0px;
}


.placa-video img:hover{
    max-width: 550px;
    max-width: 550px;
    min-height: 210px;
    min-width: 210px;
    transition: 0.5s; 
}


.gabinete{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
    margin-bottom: 200px;
    margin-top: 200px;
    max-width:2000px;
    max-height: 500px ;
    
}

.gabinete p{
    max-width: 500px;
    max-height: 500px;
    padding: 0px 10px 0px 0px;
    text-align: justify;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: max(1.3vw, 1.3vh);
    line-height: 1.3em;
    text-indent: 2em;
}


.gabinete img{
    max-width: 500px;
    max-height: 500px;
    min-width: 100px;
    min-height: 100px;
    padding: 0px 0px 0px 10px;
}


.gabinete img:hover{
    max-width: 550px;
    max-width: 550px;
    min-height: 150px;
    min-width: 150px;
    transition: 0.5s; 
}








