@charset 'UTF-8';

*{
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
}

body{
    margin: 10px 150px 10px 150px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
}

header{
    margin: 10px;
    padding: 10px;
    background-image: url(Imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: 1600px 350px ;
}


header h1{
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    color: red;
    background-color: transparent;
}

.menu{
    padding-top: 40px;
    text-align: center;
    margin: 10px;
    background-color: transparent;
}


.menu a{
    border: 1px solid white;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.menu a:hover{
    transition: 0.5s;
    border: 7px solid white;
        
}

.video1{
    background-color: rgba(0, 128, 0, 0);
    margin: 20px;
}

.video1 video{
    width: 99.8%;
    height: auto;
    border: 2px solid red;
    

}


.intro{
    text-align: justify;
    height: 400px;
    margin: 10px 50px 10px 50px;
    font-size: 2em;
}

.intro h1{
    text-align: center;
}

.placa-mae{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid white;
    margin-bottom: 200px;
    margin-top: 200px;
}

.placa-mae  p{
    width: 500px;
    height: 500px;
    padding: 0px;
    text-align: justify;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.3em;
    text-indent: 2em;
}


.placa-mae  img{
    width: 500px;
    height: 500px;
    padding: 10px 10px 0px 10px;
    
    
}


.placa-mae img:hover{
    transition: 0.5s;
    width: 550px;
    height: 550px;     
}



.cpu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid white;
    margin-bottom: 200px;
    margin-top: 200px;
    
}

.cpu p{
    width: 500px;
    height: 500px;
    padding: 0px;
    text-align: justify;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.3em;
    text-indent: 2em;
}



.cpu img{
    width: 500px;
    height: 500px;
    padding: 10px 10px 0px 10px;
}


.cpu img:hover{
    transition: 0.5s;
    width: 550px;
    height: 550px;  
}



.ram{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid white;
    margin-bottom: 200px;
    margin-top: 200px;
    
}

.ram p{
    width: 500px;
    height: 500px;
    padding: 0px;
    text-align: justify;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.3em;
    text-indent: 2em;
}


.ram img{
    width: 500px;
    height: 500px;
    padding: 10px 10px 0px 10px;
}


.ram img:hover{
    transition: 0.5s;
    width: 550px;
    height: 550px;  

}


.ssd{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid white;
    margin-bottom: 200px;
    margin-top: 200px;
    
}

.ssd p{
    width: 500px;
    height: 500px;
    padding: 0px;
    text-align: justify;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.3em;
    text-indent: 2em;
}


.ssd img{
    width: 500px;
    height: 500px;
    padding: 10px 10px 0px 10px;
}


.ssd img:hover{
    transition: 0.5s;
    width: 550px;
    height: 550px;  

}



.fonte{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid white;
    margin-bottom: 200px;
    margin-top: 200px;
    
}

.fonte p{
    width: 500px;
    height: 500px;
    padding: 0px;
    text-align: justify;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.3em;
    text-indent: 2em;
}


.fonte img{
    width: 500px;
    height: 500px;
    padding: 10px 10px 0px 10px;
}


.fonte img:hover{
    transition: 0.5s;
    width: 550px;
    height: 550px;  

}


.placa-video{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid white;
    margin-bottom: 200px;
    margin-top: 200px;
    
}

.placa-video p{
    width: 500px;
    height: 500px;
    padding: 0px;
    text-align: justify;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.3em;
    text-indent: 2em;
}


.placa-video img{
    width: 500px;
    height: 500px;
    padding: 10px 10px 0px 10px;
}


.placa-video img:hover{
    transition: 0.5s;
    width: 550px;
    height: 550px;  
}


.gabinete{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid white;
    margin-bottom: 200px;
    margin-top: 200px;
    
}

.gabinete p{
    width: 500px;
    height: 500px;
    padding: 0px;
    text-align: justify;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.3em;
    text-indent: 2em;
}


.gabinete img{
    width: 500px;
    height: 500px;
    padding: 10px 10px 0px 10px;
}


.gabinete img:hover{
    transition: 0.5s;
    width: 550px;
    height: 550px;  

}








